
















<div class="container-lg">
   <div class="row">
      <div class="col-8"><img src="assets/assalto.jpg" class="img-fluid" alt="Homem segurando seu fuzil .556"></div>
      <div class="col-4"><h1 class="fs-1">Venha se divertir conosco!</h1></div>
   </div>
</div>





<script>
   const copyIp = ()=>{
    let ip = "mtasa://15.204.145.119:22013"
    navigator.clipboard.writeText(ip)
   }
</script>