<div class="card">
    <div class="card-body">
        <form action="/usuario/registro" method="POST">

            <div class="form-floating mb-3 w-25">
                <input type="text" class="form-control" name="nome" id="floatingInput" placeholder="Nome">
                <label for="floatingInput">Nome</label>

            </div>
            <div class="form-floating mb-3 w-25">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3 w-25">
                <input type="password" class="form-control" name="senha" id="floatingInput" placeholder="Senha">
                <label for="floatingInput">Senha</label>
            </div>
            <div class="form-floating mb-3 w-25">
                <input type="password" class="form-control" name="senha2" id="floatingInput" placeholder="Repita sua senha">
                <label for="floatingInput">Repita sua senha</label>
            </div>


            <button class="btn btn-success">Registrar</button>
            <a href="/" class="btn btn-danger">Desistir</a>
        </form>
    </div>
</div>