<!DOCTYPE html>
<head>
    <%- include('./partials/head.ejs');%>
</head>
<header>
    <%- include('./partials/header.ejs');%>
</header>
<body>
    <%- include('./partials/main-index.ejs') %>
    <%- include('partials/footer.ejs')%>
</body>
<script>
    AOS.init();
</script>
</html>