
<form action="/cad" method="POST">
    <h3>Nome</h3>
    <input type="text" id="user" name="usuario">
    <h3>Senha</h3>
    <input type="password" id="pass" name="senha">
    <h3>Email</h3>
    <input type="email" id="email" name="email">
    <input type="number" id="recover" name="recuperacao" placeholder="Recuperacao de senha">

    <input type="submit" value="Registrar">

</form>