
{{#if data}}
    <div class="container mb-5 w-75 card">
        <h1>{{titulo}}</h1>
        <hr>
        <h5>{{descricao}}</h5>
        <p><strong>{{corpo}}</strong></p>
        <hr>
        <small>Data de publicação: {{data}}</small>
    </div>
{{/if}}
