@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
body{
    background-image: linear-gradient(to right, rgb(126, 94, 35), rgb(255, 138, 4));
}


* {
    margin: 0;
    padding: 0;
}

#hotbar{
    margin: auto;
    display: inline;
}#hotbar ul{
    margin-top: 50px;
    text-align: center;
    list-style: none;
    font-family: 'Pacifico', cursive;
    font-size: 65px;
    background-color: rgba(99, 89, 89, 0.555);
    padding-bottom: 50px;
    padding-top: 50px;
}

#central{
    text-align: center;
}
#intern{
    margin-top: 50px;
}
#block01 input[type='text'], #block01 input[type='password']{
    border: 0;
    outline: 0;
    background-color: rgba(211, 205, 205, 0.493);
    color: black;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    margin-top: 25px;
}#block01 label h3{
    font-family: 'Teko', sans-serif;
    font-size: 35px;
}#buttonlogin{
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgba(211, 205, 205, 0.493);
    transition-duration: 600ms;
    border: 0;
    cursor: pointer;
}#buttonlogin:hover{
    background-color: rgba(73, 69, 69, 0.493);
}
