<div class="card">
    <div class="card-boy">
        <div class="exit d-flex justify-content-end">
            <a href="/admin"><button type="button" class="btn-close" aria-label="Close"></button></a>
        </div>
        <h2 class="mb-2 mt-2 ms-3">Defina o status do servidor:</h2>
        <hr>
        <h5 class="ms-5">O status está definido como {{status}}</h5>
        <div class="btn-group d-flex mb-5 mt-5" role="group" aria-label="Basic mixed styles example">
            <a href="/admin/status/Offline" class="btn btn-danger">Offline</a>
            <a href="/admin/status/Manutenção" class="btn btn-warning">Manutenção</a>
            <a href="/admin/status/Online" class="btn btn-success">Online</a>
        </div>
    </div>
</div>