<style>
    .k-vk{
        outline: 0;
        color: black;
        outline-offset: 0;
        text-decoration: none;
    }
</style>
<div class="card ">
    <div class="sair d-flex justify-content-end">
        <a href="/ajuda"><button type="button" class="btn-close text-start" aria-label="Close"></button></a>
    </div>
    <div class="card-body shadow-lg">
        <h2>Como vincular sua conta?</h2>
        <hr>
        <h4>Primeira etapa:</h4>
        <div class="row">
            <div class="col-6 ">
                <img src="/assets/help1.png" alt="Imagem de ajuda" class="w-100 rounded ">
            </div>
            <div class="col-6 text-center d-flex align-items-center flex-column justify-content-center">
                <p>Vamos começar por parte, primeiro, você vai entrar no servidor e digite o comando <strong>/confirmarconta</strong> e ira abrir esse painel da imagem.</p>
                <p>Agora coloque ali uma palavra chave que você lembre depois. E logo em seguida aperte em <strong>confirmar</strong>. Vale lembrar que para ir para a próxima etapa, você deve estar <strong>online</strong> no servidor.</p>
            </div>
        </div>
        <hr>
        <h4>Ultima etapa:</h4>
        <div class="row">
            <col-12>
            <p>Basta você vir <a href="/confirmmta" class="k-vk"> <strong>aqui</strong> </a>, colocar o nome 
            da sua conta do servidor, e a palavra chave que você cadastrou no 
            servidor, e para finalizar basta apertar em vincular e pronto, assim você libera 
            novos recursos.</p></col-12>
        </div>
    </div>
</div>