<h2 class="text-light mb-5">Bem-vindo(a) ao central de dúvidas frequentes! </h2>

<div class="card">
  <div class="card-header">
    Conta
  </div>
  <div class="card-body">
    <h5 class="card-title">Confirmar conta</h5>
    <p class="card-text">Veja completamente como confirmar sua conta do jogo aqui no site!</p>
    <a href="/ajuda/confirmaccount" class="btn btn-brr">Conferir</a>
  </div>
</div>